{% extends "base.html.twig" %}

{% block body %}
	<main>
		<twig:Board board="{{ board }}" winner="{{ winner }}" currentPlayer="{{ currentPlayer }}" />
	</main>
	<aside>
		<twig:Winner winner="{{ winner }}" />
		<twig:CurrentPlayer currentPlayer="{{ currentPlayer }}" />

		<twig:Flash />
		<twig:Turn />
	</aside>
{% endblock %}
