{% extends "base.html.twig" %}

{% block body %}
	<main>
		<twig:Board board="{{ board }}" gameId="{{ gameId }}"
								winner="{{ winner }}" currentPlayer="{{ currentPlayer }}"
								canPlay="{{ canPlay }}" />
	</main>
	<aside>
		<twig:Winner winner="{{ winner }}" />
		<twig:CurrentPlayer playerName="{{ currentPlayerName }}" currentPlayer="{{ currentPlayer }}" />

		<twig:Flash />
		<twig:Turn canPlay="{{ canPlay }}" gameId="{{ gameId }}" />
	</aside>
{% endblock %}
