<table id="game-board" class="game-board">
	<tbody>

	<tr>
		<th></th>
		{# Show the header of each column #}
		{% for columnIndex in board[0]|keys %}
			<th>{{ columnIndex + 1 }}</th>
		{% endfor %}
	</tr>

	{# Render the game board content #}
	{% for rowIndex, row in board %}
		<tr>
			{# Show the header of each row #}
			<th>{{ getRowName(rowIndex) }}</th>

			{% for columnIndex, cell in row %}
				<twig:Cell cell="{{ cell }}" rowIndex="{{ rowIndex }}" columnIndex="{{ columnIndex }}" />
			{% endfor %}
		</tr>
	{% endfor %}

	</tbody>
</table>
