<td class="{{ inGreenTargetArea(rowIndex, columnIndex) ? "green-target" : (inRedTargetArea(rowIndex, columnIndex) ? "red-target") }}">
	<button {{ isMoveStartCell(rowIndex, columnIndex) ? 'class="move-start"' }}
		      name="cell" value="{{ getCellName(rowIndex, columnIndex) }}"
					{# Cells with pawns are clickable when the move is not started, #}
					{# and cells without pawns are clickable when the move is started. #}
					{# Also disable cells when there is a winner. #}
		      {{ winner or (isMoveStarted() ? cell != 0 : cell == 0) ? "disabled" }}>
		{% if cell > 0 %}
			<twig:Pawn player="{{ cell }}" />
		{% endif %}
	</button>
</td>
