<td class="{{ inGreenTargetArea(rowIndex, columnIndex) ? "green-target" : (inRedTargetArea(rowIndex, columnIndex) ? "red-target") }}">
	<button {{ isMoveStartCell(rowIndex, columnIndex) ? 'class="move-start"' }}
		      name="cell" value="{{ getCellName(rowIndex, columnIndex) }}"
					{# Cells with pawns are NOT clickable when the move is started, #}
					{# and cells without pawns are NOT clickable when the move is not started. #}
					{% set disabled = isMoveStarted() ? cell != 0 : cell == 0 %}
					{# Disable cells that are not playable by the current player. #}
					{% set disabled = disabled or (not isMoveStarted() and cell != currentPlayer) %}
					{# Cells are always disabled when there is a winner. #}
					{% set disabled = disabled or winner %}
					{# Cells are always disabled if the current player cannot play. #}
					{% set disabled = disabled or not canPlay %}
		      {{ disabled ? "disabled" }}>
		{% if cell > 0 %}
			<twig:Pawn player="{{ cell }}" />
		{% else %}
			{# Show previously visited cells. #}
			{% for visitedCellName in getCurrentMove() %}
				{% if visitedCellName == getCellName(rowIndex, columnIndex) %}
					<twig:Pawn player="{{ currentPlayer }}" virtual="{{ true }}" />
				{% endif %}
			{% endfor %}
		{% endif %}
	</button>
</td>
